# OS X temporary files
.DS_Store
*.swp

# Xcode
DerivedData/
build/
*.pbxuser
!default.pbxuser
*.xccheckout
xcuserdata/
*.xcuserstate
docs/
debug.txt

# SwiftPackageManager
Packages/
Package.pins
Package.resolved

